<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Email Sentiment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/email">Email Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tableau">Email Visualizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data">Email Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analytics">Analytics</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="page-header text-center">
            <h1 style="display:inline-block;color:#192652;font-weight: bold;margin-top:25px;">Biographies</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div style="float: left;padding-right: 25px;">
                    <img height="300px" width="300px" src="https://media-exp1.licdn.com/dms/image/C4E03AQE21V5pEbuYxg/profile-displayphoto-shrink_800_800/0?e=1587600000&v=beta&t=D2tTgy7LGz-CYLtgArIly3SEZ3YfoOnUIpUAxH0-P_0">
                </div>
                <div>
                    <h4>Aaron Morgan</h4>
                    <p>Aaron loves to science the data and nothing else.</p>
                    <a href="https://www.linkedin.com/in/aaron-morgan-7b2a19b3/" target="_blank">LinkedIn</a>
                </div>

            </div>
            <div class="col-md-6">
                <div style="float: left;padding-right: 25px;">
                    <img height="300px" width="300px" src="https://media-exp1.licdn.com/dms/image/C4D03AQGLw4E6l6dGGQ/profile-displayphoto-shrink_800_800/0?e=1587600000&v=beta&t=XWSFP8ghNo3afMgflx3M9tKOgG-MMGa1yCwfLbt_JPE">
                </div>
                <div>
                    <h4>David Romaine</h4>
                    <p>David is a baseball boy. Being a resident of Dallas TX, he loves the Rangers and can quote almost any statistic about the Rangers.</p>
                    <a href="https://www.linkedin.com/in/david-romaine/?trk=public-profile-join-page" target="_blank">LinkedIn</a>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div style="float: left;padding-right: 25px;">
                    <img height="300px" width="300px" src="https://media-exp1.licdn.com/dms/image/C4E03AQE54m-dh9VLRg/profile-displayphoto-shrink_200_200/0?e=1587600000&v=beta&t=aeho-XEmRubF3_fqQtBOjGlGVzz0UfVanubepOJDzQQ">
                </div>
                <div>
                    <h4>Kevin Cha</h4>
                    <p> Kevin Cha is a data enthusiast that loves airports and all things aeronautical.</p>
                    <a href="https://www.linkedin.com/in/kevin-cha-8a695320" target="_blank">LinkedIn</a>
                </div>

            </div>
            <div class="col-md-6">
                <div style="float: left;padding-right: 25px;">
                    <img height="300px" width="300px" src="https://media-exp1.licdn.com/dms/image/C4E03AQEalkk7Jzut0A/profile-displayphoto-shrink_200_200/0?e=1587600000&v=beta&t=bStUIg_-iAg2a56VASVXDF8-Xmjd46NFOugiHctP_D8">
                </div>
                <div>
                    <h4>Nahielys La Fontaine</h4>
                    <p>Nahielys knows all things makeup. If you have any questions about makeup or Puerto Rico, ask away.</p>
                    <a href="https://www.linkedin.com/in/nlf/" target="_blank">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>