<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Email Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.bootstrap4.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons -->
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
    <script src="{{ url_for('static', filename='js/loadData.js') }}"></script>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/email">Email Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tableau">Email Visualizations</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/data">Email Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analytics">Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" style="padding-bottom: 25px;">
        <div class="page-header text-center">
            <h1 style="display:inline-block;color:#192652;font-weight: bold;margin-top:25px;">Email Data</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div id="enronDiv">
            <div class="row">
                <div class="col-md-12">
                    <table id="enronData" class="table table-striped table-bordered hover display compact" style="widows: 100% display none;">
                        <thead>
                            <tr>
                                <th>Message-ID</th>
                                <th>Date</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Subject</th>
                                <th>Mime-Version</th>
                                <th>Content-Type</th>
                                <th>Content-Transfer-Encoding</th>
                                <th>X-From</th>
                                <th>X-To</th>
                                <th>X-CC</th>
                                <th>X-BCC</th>
                                <th>X-Folder</th>
                                <th>X-Origin</th>
                                <th>X-FileName</th>
                                <th>Body</th>
                                <th>Sentiment</th>
                                <th>Bucket</th>
                                <th>DateParse</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="loading" style="text-align: center;">
                        <img src="https://flevix.com/wp-content/uploads/2019/07/Spinner-Preloader.gif" height="300px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>